*{
    box-sizing: border-box;
}

.bg-linear{
    background: linear-gradient(to top, #DADBD4, #009689);
    height: 100vh;
}

.bg-blue{
    background-color: blue;
}

.bg-light-grey{
    background-color:#eaeaea;
}

.bg-red{
    background-color: red;
}

.bg-yellow{
    background-color: yellow;
}

.bg-heavenly{
    background-color: #8edafc;
}

.heavenly{
    color: #8edafc;
}

.grey{
    color:grey;
}

.h-10{
    height: 10%;
}

.h-70p{   
    height: 70px;
}

.h-50p{
    height: 50px;
}

#contact-menu .h-remaining{
    height: calc(100% - 190px);
}

#chat-menu .h-remaining{
    height: calc(100% - 140px);
}

h1{
    font-size:75px;
}

.username-box{
    width: 50px;
    height: 100%;
}

.user-img{
    border-radius: 50%;
}

li{
    list-style-type: none;
}


.border-circle{
    border-radius: 50%;
}

.bell-icon{
    width: 35px;
}

.clickable{
    cursor: pointer;
}


.fs-12{
    font-size: 12px;
}

.bg-img-chat-menu{
    background-image: url(../img/mine.jpg);
}

.rounded-3px{
    border-radius: 3px;
}

.text-message{
    width: 100%;
    height: 40px;
    padding-left: 15px;
}

.ps-2-5rem{
    padding-left: 2.5rem;
}

.message{
    min-width: 100px;
    border-radius: 10px;
}

.sent{
    justify-content: flex-end;
    background-color: #d5f9ba;
}

.received{
    justify-content: flex-start;
    background-color: #fff;

}