*{
    box-sizing: border-box;
    margin: 0 auto;
}

.bg-linear{
    background: linear-gradient(to top, #DADBD4, #009689);
    height: 100vh;
}

.bg-blue{
    background-color: blue;
}

.bg-red{
    background-color: red;
}

.bg-yellow{
    background-color: yellow;
}

.h-10{
    height: 10%;
    border: 1px solid #000;
}

.h-15{
    height: 15%;
    border: 1px solid #000;

}

.h-7{
    border: 1px solid #000;
    height: 7%;
}

#contact-menu .h-remaining{
    border: 1px solid #000;
    height: calc(100% - 32%);
}

#chat-menu .h-remaining{
    border: 1px solid #000;
    height: calc(100% - 20%);
}

#chat-menu main{
    overflow: auto;
}

h1{
    font-size:75px;
}