<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- CDN Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CDN FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link mio foglio di stile -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Script Vue -->
    <script src="./js/data.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Script di Vue -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.6/dayjs.min.js"></script>
</head>

<body>
    <div id="root" class="viewport-height">
        <div class="container-fluid bg-linear">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-10 bg-white my-5 viewport-height-92">
                    <div class="row h-100">
                        <!------------------------------- MENU CONTATTI ---------------------------------------->
                        <div id="contact-menu" class="col-4 p-0 h-100">
                            <!-- UserName box -->
                            <section id="username-box" class="h-70p row g-0 p-3 bg-light-grey">
                                <div class="col-4 d-flex align-items-center">
                                    <img :src="`./img/avatar${user.avatar}.jpg`" :alt="user.name"
                                        class="img-fluid rounded-circle" width="50">
                                    <h4 class="ms-2">{{user.name}}</h4>
                                </div>
                                <div class="col-4"></div>
                                <div
                                    class="col-4 username-icons-container d-flex justify-content-end align-items-center fs-4 grey">
                                    <div class="icons">
                                        <i class="clickable fas fa-sync"></i>
                                        <i class="clickable fas fa-comment-alt px-3"></i>
                                        <i class="clickable fas fa-ellipsis-v"></i>
                                    </div>
                                </div>
                            </section>
                            <!-- Activate Notifications -->
                            <section id="notifications-section" class="h-70p row g-0 bg-heavenly align-items-center">
                                <div class="col d-flex align-items-center">
                                    <div class="bg-white rounded-circle ms-3 fs-3">
                                        <i class="fas fa-bell-slash heavenly"></i>
                                    </div>
                                    <div class="notifications-activate mx-3">
                                        <p>Ricevi notifiche di nuovi messaggi</p>
                                        <span class="grey fw-light clickable"><u>Attiva notifiche desktop</u></span>
                                    </div>
                                </div>
                            </section>
                            <!-- Input Search -->
                            <section id="input-search" class="input-group mb-3 h-50p">
                                <span class="input-group-text bg-white" id="basic-addon1"><i
                                        class="fas fa-search grey"></i></span>
                                <input type="text" class="form-control" v-model="searchContact"
                                    @keyup="searchAndShowInContactList" placeholder="Cerca o inizia una nuova chat"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </section>
                            <!-- Contacts List -->
                            <section id="contact-list" class="h-remaining container overflow-y-auto">
                                <div v-if="contact.visible === true" v-for="(contact,index) in contacts"
                                    :key="contact.name+contact.avatar" class="row py-2 contact clickable">
                                    <div @click="changeConversation(index)" class="col d-flex align-items-center">
                                        <img :src="`./img/avatar${contact.avatar}.jpg`" class="img-fluid rounded-circle"
                                            :alt="contact.name" width="50">
                                        <h4 class="ms-2">{{contact.name}}</h4>
                                    </div>
                                    <div><small class="grey">{{ showLastDate(contact) }}</small></div>
                                    <p class="grey">{{ showLastMessage(contact) }}</p>
                                </div>
                            </section>
                        </div>
                        <!------------------------------- MENU CHAT ---------------------------------------->
                        <div id="chat-menu" class="col-8 h-100">
                            <!-- Header -->
                            <header class="row justify-content-between h-70p bg-light-grey">

                                <div class="col-4 d-flex align-items-center">
                                    <img :src="`./img/avatar${contacts[currentContact].avatar}.jpg`"
                                        :alt="contacts[currentContact].name" class="img-fluid rounded-circle"
                                        width="50">
                                    <h4 class="ms-2">{{contacts[currentContact].name}}<br><small
                                            class="grey fw-light fs-12">Ultimo
                                            accesso
                                            oggi
                                            alle {{ showLastSeen() }}</small>
                                    </h4>
                                </div>

                                <div class="col-4 d-flex align-items-center justify-content-end grey fs-4">
                                    <i class="clickable fas fa-search me-2" @click="openChatSearchBox"
                                        :class="classSwtichOffSearchButton"></i>
                                    <input class="fs-5" type="search" :class="classChatSearchBox"
                                        placeholder="Ricerca nella chat" v-model.trim="searchTextChat"
                                        @keyup.enter="researchInChat">
                                    <i class="clickable fas fa-paperclip mx-4"></i>
                                    <i class="clickable fas fa-ellipsis-v me-3"></i>
                                </div>
                            </header>
                            <!-- Chat Body -->
                            <main class="row h-remaining bg-img-chat-menu overflow-y-auto">
                                <div class="col-12">
                                    <div class="row pt-5 px-5" v-for="(msg,index) in contacts[currentContact].messages"
                                        :key="msg.status+index" :class="changePositionMessage(msg.status)">
                                        <div v-if="areInResearch === true"
                                            class="col-3 d-flex justify-content-between message" :class="msg.status">
                                            <div class="col-6">
                                                <p class="p-2">{{msg.message}}</p>
                                            </div>
                                            <div class="col-6 d-flex flex-column justify-content-between">
                                                <span class="clickable grey align-self-end"><i
                                                        @click="deleteMessage(index)" class="fas fa-times"></i></span>
                                                <time class="grey align-self-end">{{msg.date}}</time>
                                            </div>
                                        </div>
                                    </div>
                            </main>
                            <!-- Footer -->
                            <footer class="row align-items-center justify-content-center h-70p bg-light-grey z-3">
                                <div class="ps-2-5rem col-1 fs-3">
                                    <i class="clickable far fa-smile"></i>
                                </div>
                                <div class="ps-3 col-10">
                                    <input @keyup.enter="sendMessage" v-model.trim="messageText"
                                        class="text-message rounded-3px border-0" type="text"
                                        placeholder="Scrivi un messaggio">
                                </div>
                                <div class="ps-4 col-1 fs-3">
                                    <i class="clickable fas fa-microphone"></i>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="./js/script.js"></script>
</body>

</html>